/*Universielt for alle sidene*/
* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Shippori Mincho", serif;
  font-size: 48px;
}

h2 {
  font-family: "Shippori Mincho", serif;
  font-size: 32px;
}

h3 {
  font-family: "Shippori Mincho", serif;
  font-size: 30px;
  text-align: center;
  color: black;
}

p {
  font-family: "Montaga", serif;
  font-style: normal;
  font-size: 20px;
}

a {
  color: black;
  text-decoration: none;
}
/*navigasjon*/
nav {
  background-color: #e9e3d6;
  padding: 0px 40px;
  padding-left: 20px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  height: 100px;
}

/*Jeg måtte google for å få midtstilt logoen helt i senter. 
Den justerte seg innledningsvis bare etter de andre "div"`ene og kom derfor litt langt til venstre. 
Jeg kom over denne guiden fungerte veldig godt: https://stackoverflow.com/questions/25982135/why-does-left-50-transform-translatex-50-horizontally-center-an-element?*/
.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
nav button {
  border: none;
  background-color: transparent;
}

.hero_txt_h1 {
  margin-top: 200px;
  margin-left: 20px;
  text-align: left;
  position: absolute;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  color: white;
}

.hero_txt_h3 {
  margin-top: 150px;
  margin-left: 20px;
  text-align: left;
  position: absolute;
  font-family: "Shippori Mincho", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: white;
}

.hero img {
  width: 100%;
  height: 564px;
  object-fit: cover;
  object-position: center 40%;
}
.CTA {
  font-family: "Shippori Mincho", serif;
  margin-top: 300px;
  margin-left: 20px;
  padding: 10px;
  width: 150px;
  text-align: center;
  position: absolute;
  font-weight: 400;
  font-style: bold;
  font-size: 30px;
  color: white;
  border-radius: 10px;
  background-color: #6b4f3d;
}

.description {
  background-color: #f5f2ec;
  height: 150px;
  display: flex;
  padding: 1em;
  justify-content: center;
  align-items: center;
}
.description p {
  width: 800px;
}
/*Our happy customer carousel*/
.customer_review {
  background-color: #e9e3d6;
  padding: 2em;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.carousel {
  position: relative;
  height: 200px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.carousel_item {
  height: 100px;
  padding: 1em;
}
/*clubmembership-section*/
.clubmembership {
  height: 300px;
  background-image: url("/Assets/kaffebønner-large.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  padding: 10px;
}

.clubmembership-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.clubmembership-button {
  text-align: center;
  align-items: center;
  color: white;
  font-family: Montaga;
  height: fit-content;
  font-size: 30px;
  border-radius: 8px;
  background: #6c7a5b;
  padding: 5px;
}

label {
  font-family: "Montaga", serif;
  font-style: normal;
  font-size: 20px;
  color: black;
}

input {
  height: 48px;
  width: 366px;
}

.social-media {
  background-color: #e9e3d6;
  height: 300px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.social-media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 1em;
}

footer {
  height: 250px;
  background-color: #f5f2ec;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
}

.footer-align {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.footer-lists {
  display: flex;
  gap: 30px;
}

footer li {
  list-style: none;
  font-family: "Montaga", serif;
  font-style: normal;
  font-size: 20px;
  color: black;
}

/*For å få til overlayet har jeg brukt en guide fra https://www.w3schools.com/howto/howto_css_modals.asp? som inspirasjon*/
.overlay-content {
  position: fixed;
  border-radius: 50px;
  top: 0;
  left: -50px;
  height: 100%;
  z-index: 1000;
  background-color: #89947b;
  width: 400px;
  display: none;
}
#close-overlay {
  display: flex;
  justify-content: end;
  margin-bottom: 40px;
  background-color: transparent;
  border: none;
}
.overlay-content-buttons {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 8px;
  gap: 20px;
}

.button-styling {
  justify-content: center;
  font-family: "Shippori Mincho", serif;
  border-radius: 8px;
  background-color: #6c7a5b;
  border-radius: 12px;
  color: white;
  font-size: 24px;
  font-style: bold;
  width: 125px;
  height: 66px;
}

.linkpage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  gap: 10px;
}
